<link rel="stylesheet" href="../css/redes.css">
<div class="view">
    <div class="jumbotron">
        <h1>Redes de Computadores</h1>
    </div>
    <div class="row">
        <hr class="separator">
        <div class="artigo">
            <div class="linha">
                <div class="coluna-4">
                    <img src="../img/redes.jpg" />
                </div>
                <div class="coluna-6">
                    <p>Uma rede de computadores é formada por um conjunto de máquina electronicas com processadores capazes de trocar informações e partilhar recursos, interligados por um sub-sistema de comunicação, ou seja, é quando há pelo menos dois ou mais computadores e outros dispositivos interligados entre si de modo a poderem compartilhar recursos físicos e lógicos, estes podem ser do tipo: dados, impressoras, mensagens (e-mails), entre outros.</p>
                    <p>A Internet é um amplo sistema de comunicação que conecta muitas redes de computadores. Existem várias formas e recursos de vários equipamentos que podem ser interligados e compartilhados, mediante meios de acesso, protocolos e requisitos de segurança.</p>
                </div>
            </div>
            <p>Os meios de comunicação podem ser: linhas telefónicas, cabo, satélite ou comunicação sem fios (wireless).</p>
            <p>O objetivo das redes de computadores é permitir a troca de dados entre computadores e a partilha de recursos de hardware e software</p>
            <hr class="separator">
            <ul>
                <li>
                    <p class="titulo-tema"> DNS </p>
                    <p>Domain Name System (Sistema de Nomes de Domínios), funciona como um sistema de tradução de endereços IP para nomes de domínios</p>
                </li>
                <li>
                    <p class="titulo-tema"> HTTP </p>
                    <p>Hypertext Transfer Protocol,(Protocolo de Transferência de Hipertexto), é um protocolo de comunicação.É a base para a comunicação de dados da World Wide Web.</p>
                </li>
                <li>
                    <p class="titulo-tema"> HTTPS </p>
                    <p>HyperText Transfer Protocol Secure, (Protocolo de Transferência de Hipertexto Segura), é uma implementação do protocolo HTTP sobre uma camada SSL ou do TLS. Essa camada adicional permite que os dados sejam transmitidos através de uma conexão criptografada e que se verifique a autenticidade do servidor e do cliente através de certificados digitais.</p>
                </li>
                <li>
                    <p class="titulo-tema"> Proxy SQUID </p>
                    <p>Squid é um software especializado em fazer a operação de proxy de web e ftp, completamente free e com excelente suporte para operação em servidores Linux.</p>
                </li>
                <li>
                    <p class="titulo-tema"> FTP </p>
                    <p>File Transfer Protocol (Protocolo de Transferência de Arquivos). FTP é o protocolo responsável pela transferência de arquivos pela internet. É através dele que o desenvolvedor subirá os arquivos do site no servidor. Ou seja, é o protocolo que permite publicar os arquivos na Internet.</p>
                </li>
                <li>
                    <p class="titulo-tema"> SSH </p>
                    <p>O SSH (Secure SHell) é um protocolo que permite a você acessar virtualmente o servidor como se você estivesse em um terminal. Considere como o SSH como um computador controlando outro computador.</p>
                </li>
                <li>
                    <p class="titulo-tema"> Firewall </p>
                    <p>Firewall é uma barreira de proteção que ajuda a bloquear o acesso de conteúdo malicioso, mas sem impedir que os dados que precisam transitar continuem fluindo. Em inglês, “firewall” é o nome daquelas portas antichamas usadas nas passagens para as escadarias em prédios.</p>
                </li>
            </ul>
            
            <hr class="separator">
        </div>
            <h3>Referências Bibliográficas:</h3>
            <div class="artigo">
                <p>
                    <a href="http://www.livrariacultura.com.br/imagem/capitulo/11012714.pdf+rede+de+computadores"> Rede de Computadores - Douglas Rocha Mendes </a>
                </p>
                <p>
                    <a href="http://www.tecmundo.com.br/o-que-e/829-o-que-e-dns-.htm"> Tecmundo </a>
                </p>
            </div>
    </div>
</div>
