<link rel="stylesheet" href="../css/sistemasoperacionais.css">
<div class="view">
    <div class="row">
        <hr class="separator">
        <h3>Sistemas Operacionais</h3>
        <div class="artigo">
            <p>Um sistema operacional pode ser definido como um conjunto de programas especialmente feitos para a execução de várias tarefas, entre as quais servir de intermediário entre o utilizador e o computador. Um sistema operacional, tem também como função, gerir todos os periféricos de um computador.</p>
            <p>Podemos dizer que o sistema operacional é o "programa" mais importante do computador.</p>
            <p>Uma das atribuições do sistema operacional é carregar na memória e providenciar a execução dos programas que o usuário solicita. Mesmo quando um programa qualquer está em execução, o sistema operacional pode continuar trabalhando. Por exemplo, muitos programas precisam realizar acesso ao teclado, vídeo e impressora, assim como acessos ao disco para ler e gravar arquivos. Todos esses acessos são realizados pelo sistema operacional, que fica o tempo todo ativo, prestando serviços aos programas que estão sendo executados.</p>
            <p>O sistema operacional também faz um gerenciamento dos recursos do computador, para evitar que os programas entrem em conflito. Por exemplo, o sistema operacional evita que dois programas simultaneamente acessem a mesma área da memória, o que poderia causar grandes problemas. O sistema operacional funciona como um "maestro", providenciando para que todos os programas e todos os componentes do computador funcionem de forma harmônica.</p>
            <hr class="separator">
                
        </div>
        <hr class="separator">
        <h3>Referências Bibliográficas:</h3>
        <div class="artigo">
            <p>
                <a href="http://www.livrariacultura.com.br/imagem/capitulo/11012714.pdf+rede+de+computadores"> Rede de Computadores - Douglas Rocha Mendes </a>
            </p>
            <p>
                <a href="http://www.tecmundo.com.br/o-que-e/829-o-que-e-dns-.htm"> Tecmundo </a>
            </p>
        </div>
    </div>
</div>
