<div class="view">
    <div class="jumbotron">
        <h1>Cloud Computing</h1>
    </div>
    <div class="row">
        <hr class="separator">
        
        <h3> O que é? </h3>
        <div class="artigo">            
            <p> Computação em nuvem (cloud computing) é uma tecnologia que permite acesso remoto a programas (softwares), arquivos (documentos, músicas, jogos, fotos, vídeos) e serviços por meio da internet. </p>
            <p>Digamos que você tenha que entregar um trabalho de escola e você esqueceu-se de imprimi-lo. Como resolver uma situação como esta? Simples, através do computador da escola com acesso a internet, você pode acessar seus arquivos pessoais e imprimir o trabalho. Isto porque com a computação em nuvem os seus dados não estão confinados em um disco rígido de seu computador, eles estão disponíveis na web. Como por exemplo, o Google Docs, onde você pode criar documentos e armazená-los on-line. </p>
            <p>O que muitas pessoas não sabem é que, esta tecnologia já vem sendo usada a um bom tempo. Usuários que possuem uma conta de e-mail como, por exemplo no Hotmail, podem acessar seus e-mails em qualquer lugar. Ou seja, não precisam do programa Outlook Express, para poder ler e-mails, simplesmente precisam se logar numa conta de e-mail pela web, em qualquer computador conectado a internet. Não existe um software do Hotmail instalado no computador, ele é acessado pela Web, ou seja, está na nuvem. Porque nuvem? A nuvem é um símbolo muitas vezes usado para representar a internet em diagramas e fluxogramas, portanto o termo foi utilizado para representar a internet. </p>
            <p>Os principais fornecedores deste tipo de tecnologia são Microsoft, Salesforce, Skytap, HP, IBM, Amazon e Google. Os clientes da computação em nuvem para ter acesso a serviços completos precisam pagar pelos recursos que utilizam. Muitos acham esta tecnologia uma boa forma de economizar dinheiro com hardware, software e serviços, principalmente as empresas. Grandes organizações, ao utilizar a computação em nuvem, não precisam comprar, por exemplo, um conjunto de softwares ou licenças de software para cada funcionário. Em vez disso, contrataria um serviço de computação em nuvem e pagaria uma taxa. </p>
            <p>As principais características da computação em nuvem são a agilidade, escalabilidade, acesso em qualquer local e por diferentes aparelhos (telefones celulares, laptops e PDAs), permite o compartilhamento de recursos por um grande grupo de usuários, serviços fáceis de usar, não sendo necessária instalação. Porém, o quesito segurança preocupa um pouco. Assim como tem surgido tecnologias como esta para facilitar o acesso às informações, paralelamente pessoas especializadas em invadir computadores e programas, os "hackers" podem invadir nossos dados e roubá-los. No entanto, estas empresas fornecedoras da computação em nuvem investem muito em segurança, nos chamados “antivírus em nuvem”. </p>
            <p>A tendência é que os computadores do futuro terão preços baixos, se comparados com os preços atuais, visto que serão produzidos de forma mais simplificada, já que boa parte de seus dados poderão ser armazenados fora do hardware. Com destaque para os mini laptops, pois podem ser facilmente carregados, possuem baixo consumo de energia e são bem mais baratos. </p>
            
            <hr class="separator">
        </div>
            <h3>Referências Bibliográficas:</h3>
            <div class="artigo">
                <p>
                    <a href="http://informatica.hsw.uol.com.br/computacao-em-nuvem2.htm"> Link Externo </a>
                </p>
                <p>
                    <a href="http://www.bostoninteractiveblog.com/?p=132"> Link Externo </a>
                </p>
                <p>
                    <a href="http://www.baixaki.com.br/info/738-o-que-e-computacao-em-nuvens-.htm"> Link Externo </a>
                </p>
                <p>
                    <a href="http://pt.wikipedia.org/wiki/Computa%C3%A7%C3%A3o_em_nuvem"> Link Externo </a>
                </p>
            </div>
    </div>
</div>
