<div class="view">
    <div class="jumbotron">
        <h1>Home</h1>
    </div>
    <div class="row">
        <p> <b>Nome</b>: <i> Gustavo Ferreira Viegas de Oliveira </i> </p>
        <p> <b>Curso</b>: <i> Sistemas de Informação </i> </p>
        <p> <b>Período</b>: <i> 1º Perí­odo </i> </p>
        <p> <b>Disciplina</b>: <i> Ferramentas da Computação </i> </p>
        
        <hr class="separator">
        
        <h3>HTML</h3>
        <div class="artigo">
            <p>
                HTML é uma das linguagens que utilizamos para desenvolver websites. O acrônimo HTML vem do inglês e significa Hypertext Markup Language ou em português Linguagem de Marcação de Hipertexto.
            </p>
            <p>
                O HTML é a liguagem base da internet. Foi criada para ser de fácil entendimento por seres humanos e também por máquinas, como por exemplo o Google ou outros sistemas que percorrem a internet capturando informação.
            </p>
        </div>
        
        <hr class="separator">
        
        <h3>CSS</h3>
        <div class="artigo">
            <p>
                O Cascading Style Sheets (CSS) é uma "folha de estilo" composta por “camadas” e utilizada para definir a apresentação (aparência) em páginas da internet que adotam para o seu desenvolvimento linguagens de marcação (como XML, HTML e XHTML). O CSS define como serão exibidos os elementos contidos no código de uma página da internet e sua maior vantagem é efetuar a separação entre o formato e o conteúdo de um documento.
            </p>
        </div>
    </div>
</div>
